@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html {
  scroll-padding-top: 5rem;
}

body {
  font-family: 'Varela Round', sans-serif;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}
